//
// Typography
//
$body-font-family: "SofiaPro", "Helvetica Neue", Arial, sans-serif !default;

//
// Typography
//
// $purple-000: #00c8aa;
$meemoo-green: #009690;
$link-color: $meemoo-green;

@font-face {
  font-family: SofiaPro;
  font-weight: 400;
  src: url(https://meemoo.be/fonts/3AFA78_2_0.eot);
  src: url(https://meemoo.be/fonts/3AFA78_2_0.eot?#iefix)
      format("embedded-opentype"),
    url(https://meemoo.be/fonts/3AFA78_2_0.woff2) format("woff2"),
    url(https://meemoo.be/fonts/3AFA78_2_0.woff) format("woff"),
    url(https://meemoo.be/fonts/3AFA78_2_0.ttf) format("truetype");
}
@font-face {
  font-family: SofiaPro;
  font-weight: 400;
  font-style: italic;
  src: url(https://meemoo.be/fonts/3AFA78_3_0.eot);
  src: url(https://meemoo.be/fonts/3AFA78_3_0.eot?#iefix)
      format("embedded-opentype"),
    url(https://meemoo.be/fonts/3AFA78_3_0.woff2) format("woff2"),
    url(https://meemoo.be/fonts/3AFA78_3_0.woff) format("woff"),
    url(https://meemoo.be/fonts/3AFA78_3_0.ttf) format("truetype");
}
@font-face {
  font-family: SofiaPro;
  font-weight: 700;
  src: url(https://meemoo.be/fonts/3AFA78_0_0.eot);
  src: url(https://meemoo.be/fonts/3AFA78_0_0.eot?#iefix)
      format("embedded-opentype"),
    url(https://meemoo.be/fonts/3AFA78_0_0.woff2) format("woff2"),
    url(https://meemoo.be/fonts/3AFA78_0_0.woff) format("woff"),
    url(https://meemoo.be/fonts/3AFA78_0_0.ttf) format("truetype");
}
@font-face {
  font-family: SofiaPro;
  font-weight: 700;
  font-style: italic;
  src: url(https://meemoo.be/fonts/3AFA78_1_0.eot);
  src: url(https://meemoo.be/fonts/3AFA78_1_0.eot?#iefix)
      format("embedded-opentype"),
    url(https://meemoo.be/fonts/3AFA78_1_0.woff2) format("woff2"),
    url(https://meemoo.be/fonts/3AFA78_1_0.woff) format("woff"),
    url(https://meemoo.be/fonts/3AFA78_1_0.ttf) format("truetype");
}

//
// Layout
//

.main {
	max-width: 900px;
}